<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="/public/style.css">
  <title>URL Shortener</title>

</head>
<body>
  <header>
      <h2>URL Shortener Microservice</h2>
  </header>
  <div class="container">
    <div id="into">
      <div id="why">
        <p>
          <b>Why?</b>  A long URL distracts readers from your message.  Also, in situations where there are character liimts, a long URL uses too many characters.
        </p>
      </div>
    </div>
    
    <h3>Create a short URL</h3>
    <p>
      example: <code>POST [project_url]/api/shorturl/new</code> - <code>https://www.google.com</code>
    </p>
    <form id="urlForm">
      <label for="url_input">URL to be shortened</label>
      <input id="url_input" type="text" name="url" value="https://www.freecodecamp.org">
      <input type="submit" value="POST URL">
    </form>
    <p id="newUrl"></p>
    <h3>Example Usage:</h3>
    <a href="https://cobalt-barracuda.glitch.me/api/shorturl/1">
      https://cobalt-barracuda.glitch.me/api/shorturl/1
    </a>

    <h3>Will Redirect to:</h3>
    <p>https://www.google.com</p>
  </div>
  <div class="footer">
    <p>
      Coded by Erik O. for a <a href="https://www.freecodecamp.org">freeCodeCamp</a> project.
    </p>
  </div>

  <script src="https://code.jquery.com/jquery-2.2.1.min.js"
        integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
        crossorigin="anonymous"></script>
  <script>
    $(function() {
      $("#urlForm").submit(function(e) {
        $.ajax({
          url: "/api/shorturl/new",
          type: "post",
          data: $("#urlForm").serialize(),
          success: function(data) {
            $("#newUrl").text(data);
          }
        });
        e.preventDefault();
      })
    })
  </script>
</body>
</html>